<html lang="nb">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logg in</title>
    <link rel="stylesheet" href="/css/style2.css">
</head>
<body>

    <div class="wrapper">

        <h1 class="registrer">Logg inn</h1>
        
        <form action="" method="post">
            <label for="email" id="email_plc">Email</label>
            <input type="email" name="email" id="email" placeholder="ola@epost.no">
            
            <label for="passord" id="passord_plc" >Passord</label>
            <input type="password" name="passord" id="passord" placeholder="Furkan1234!">
            
            <button id="loggIn_button" >Logg inn</button>
        </form>
        
        <a href="/registrer" id="registrer_link">Ikke bruker? Registrer deg her!</a>
        
    </div>
        
</body>
</html>