<html lang="nb">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrer deg</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <form action="" method="post">
        <label for="email">Email</label>
        <input type="email" name="email" id="email">

        <label for="passord">Passord</label>
        <input type="password" name="passord" id="passord">

        <label for="gjentaPassord">Gjenta passord</label>
        <input type="password" name="gjentaPassord" id="gjentaPassord">

        <button>Registrer bruker</button>
    </form>

    <a href="/">Har du allerede en bruker? Logg inn</a>
    
</body>
</html>